http {
    upstream myapp1 {
        server {{ansible_default_ipv4.address}}:5001;
        server {{ansible_default_ipv4.address}}:5002;
        server {{ansible_default_ipv4.address}}:5003;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://myapp1;
        }
    }
}
events {}
